
certifi==2017.4.17
chardet==3.0.4
Django==1.8.18
django-debug-toolbar==1.8
gunicorn==19.7.1
httplib2==0.10.3
idna==2.5
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.4
python-instagram==1.3.2
pytz==2017.2
requests==2.18.1
requests-file==1.4.2

simplejson==3.11.1
six==1.10.0
sqlparse==0.2.3
tldextract==2.1.0

